[Desktop Entry]
Type=Application
Name=i3-gnome
Comment=Improved dynamic tiling window manager
Exec=i3-gnome
X-GNOME-WMName=i3-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
